**/__pycache__/**
flan-t5**
checkpoints/**
tmp/**
unconverted-weights
unconverted-weights/
weights
weights/
.DS_STORE
*.safetensors
.cog/
llama_weights/
.env
exllama/
llama-recipes/
orig-llama-recipes/
vllm/
.pytest_cache
.dockerignore
*.egg-info/
